# Core dependencies
PyYAML

# Thermal camera
adafruit-circuitpython-mlx90640
adafruit-blinka

# Image processing
Pillow

# Computer vision
opencv-python
numpy

# AWS
AWSIoTPythonSDK
boto3

# Web interface
Flask

# System monitoring
psutil

# Networking
requests
